@charset "UTF-8";

/********************************

  下層ページ_共通部分

********************************/
/* ====== base ====== */
html {
  background-color: #eee;
}
body {
  margin: 0 auto;
  font-size: 13px;
  line-height: 1.6em;
  font-family: $font-gothic;
  color: $color-base;
  //background-image: url(../img/bg.svg);
  //background-repeat: repeat;
  //background-position: center;
  //background-size: 50px auto;
  width: 640px;
  max-width: 100%;
}
#wrapper{
  margin: auto;
  position: relative;
  overflow-x: hidden;
    width: 640px;
  max-width: 100%;
  box-shadow: 0 0 10px rgba($color-dark,0.2);
}
section{
}
p{
}
a,a:hover {
  color: $color-base;
  @include ease;
}
a:hover{
  opacity: 0.8;
}
img{
  max-width: 100%;
}

/* ====== header ====== */
header {
  background-color: rgba($color-base,1.0);
  width: 640px;
  max-width: 100%;
  top: 0; 
  z-index: 999;
  position: relative;
}
.is-fixed {
  position: fixed;
  top: 0;
  @include ease;
}
/* header logo */
.logo {
  margin: 12px 0 5px 10px;
  height: 35px;
}
/* header btn */
.header-btn {
  position: absolute;
  top: 5px;
  right: 58px;
  & li{
      display: inline-block;
    &.header-btn-line a{
      background-color: $color-line;
      border: 3px solid #eee;
      border-radius: 6px;
      padding: 7px 10px 7px 10px;
      text-align: center;
      display: block;
      text-decoration: none;
      font-size: 10px;
      line-height: 1.0em;
      & img{
        display: block;
        height: 15px;
        margin: 0 auto 3px;
      }
    }
  }
}
/* toggle */
#toggle {
  display: block;
  position: absolute;
  top: 10px;
  right: 12px;
  width: 35px;
  height: 35px;
  padding: 3px 0;
  cursor: pointer;
  z-index: 1000;
  & div {
    position: relative;
    & span{
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      border-radius: 30px;
      @include ease;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2) {
        top: 8px;
      }
      &:nth-child(3) {
        top: 16px;
      }
    }
  }
  & .menu {
    display: block;
    position: absolute;
    top: 18px;
    left: -1.5px;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-family: $font-english;
  }
}
.open #toggle span{
  &:nth-child(1){
    top: 7px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  &:nth-child(2){
    display: none;
  }
  &:nth-child(3){
    top: 7px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
  }
}
/* nav */
#nav {
  position: absolute;
  top: -499px;
  width: 100%;
  background: #fff;
  text-align: center;
  & ul{
    right: 0;
    bottom: 0;
    & li{
      float: none;
      position: static;
      font-size: 15px;
      & a{
        width: 100%;
        display: block;
        padding: 15px 0;
        letter-spacing: 1px;
        text-decoration: none;
        &:hover{
          background-color: rgba($color-highlight,0.5);
        }
      }
    }
  }
}
.open #nav{
  -moz-transform: translateY(556px);
  -webkit-transform: translateY(556px);
  transform: translateY(556px);
}

/* ====== footer ====== */
/* information */
.information{
  text-align: center;
  background-color: rgba($color-base,0.2);
  font-size: 0.9em;
  line-height: 1.8em;
  padding: 0 0 5px 0;
  & a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  & .information-title{
    background-color: #66001A;
    position: relative;
    text-align: left;
    font-family: $font-english;
    padding: 15px 10px 10px 95px;
    font-size: 1.3em;
    line-height: 1.0em;
    letter-spacing: 2px;
    & .shop-img{
      border-radius: 5px;
      border: 2px solid $color-highlight;
      position: absolute;
      width: 70px;
      height: 70px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      left: 10px;
      top: -15px;
      @include shadow;
    }
  }
  & img{
    display: block;
    max-width: 80px;
    margin: 20px auto 15px;
  }
  & strong{
    margin-bottom: 2px;
    font-size: 1.1em;
  }
  & a{
    font-weight: bold;
  }
}

/* sns */
.sns{
  margin: 15px 0;
  & li{
    display: inline-block;
    font-size: 1.8em;
    opacity: 0.8;
    margin: 0 10px;
  }
}

/* footer */
footer{
  background-color: rgba($color-dark,0.8);
  text-align: center;
  padding: 25px 10px 60px;
  & ul{
    font-size: 0;
    & li{
      display: inline-block;
      font-size: 12px;
      line-height: 1.0em;
      letter-spacing: 1px;
      padding: 0 10px;
      border-right: 1px solid $color-base;
      &:last-child{
        border: none;
      }
      & a{
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  & .copyright{
    font-size: 0.8em;
    letter-spacing: 1px;
    opacity: 0.9;
  }
  
}

/* float btn */
.float-btn{
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eee;
  & ul{
    font-size: 0;
    width: 640px;
    max-width: 100%;
    margin: auto;
    & li{
      display: inline-block;
      vertical-align: top;
      & a{
        text-decoration: none;
        display: block;
        :hover{
          opacity: 0.5;
        }
      }
      &.footer-btn-line{
        width: 42.5%;
        font-size: 12px;
        line-height: 1.0em;
        & a{
          padding: 15px 0px 15px 5px;
          background-color: rgba($color-line,1.0);
          & img{
            max-height: 15px;
            margin-right: 2px;
          }
        }
      }
      &.footer-btn-phone{
        width: 42.5%;
        font-size: 14px;
        line-height: 1.0em;
        & a{
          padding: 16px 0px 16.5px 20px;
          background-color: rgba($color-highlight,1.0);
          position: relative;
          & i{
            position: absolute;
            left: 12px;
            font-size: 18px;
            top: 0;
            bottom: 0;
            height: 18px;
            margin: auto;
            opacity: 0.8;
          }
        }
      }
      &.footer-btn-top{
        width: 15%;
        & a{
          background-color: rgba($color-base,1.0);
          color: $color-highlight;
          padding: 23px 0 23.5px;
          position: relative;
          & i{
            font-size: 20px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 20px;
            height: 20px;
            margin: auto;
          }
        }
      }
    }
  }
  & .copyright{
    font-size: 0.8em;
  }
}


/* ====== contents ====== */

/* ブログ・お知らせ */
.cont-archive{
  padding-bottom: 30px;
}
.cont-archive .btn{
  margin-bottom: 15px;
}
.cont-archive h1{
  background-color: #ddb39e;
  color: #1a140f;
  font-size: 1.4em;
  line-height: 1.6em;
  font-weight: normal;
  margin: 0 0 15px 0;
  padding: 15px 15px 12px 20px;
  position: relative;
  display: block;
  letter-spacing: 1px;
  border: none;
  text-align: left;
}
.cont-archive h1:before{
  content: "";
  position: absolute;
  left: 0;
  width: 8px;
  height: 30px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}
.archive{
  background-color: #fff;
  box-shadow: 0 0 10px rgba($color-dark,0.1);
  padding: 15px;
}
.archive img{
  width: 300px;
  max-width: 100%;
  margin: 0 auto 15px auto;
  display: block;
}
.archive-data{
  opacity: 0.6;
  font-size: 0.9em;
  margin-bottom: 5px;
}


.btn-list i{
  opacity: 0.5;
  margin-right: 10px;
}
.cast-box{
}
.cast-box h1,.cast-box h3{
  margin: 0 0 15px 0;
  text-align: center;
  font-size: 2.0em;
  line-height: 1.0em;
  color: #fff;
  background-color: transparent;
  border: none;
}
.cast-box h1 small,.cast-box h3 small{
  margin-left: 5px;
  font-size: 0.7em;
}
.cast-box img{
  width: 300px;
  max-width: 100%;
  border-radius: 100%;
  margin: 0 auto 10px auto;
  display: block;
}
.cast-box .cast-comment{
  background-color: #fff;
  text-shadow: 0 0 10px rgba($color-dark,0.1);
  padding: 20px;
  border-radius: 5px;
  position: relative;
  margin: 30px auto;
}
.cast-box .cast-comment:before{
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: -15px;
  width: 0px;
  height: 0px;
  margin: auto;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
  text-shadow: 0 0 10px rgba($color-dark,0.1);
}

/* キャスト */
.cont-cast dl{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba($color-dark,0.1);
}
.cont-cast dt{
  color: #fff;
  font-size: 1.1em;
  padding: 15px;
  border-radius: 5px 5px 0 0;
}
.cont-cast dt:before{
  content: "Q.";
  margin-right: 10px;
}
.cont-cast dd{
  margin: 0;
  padding: 15px;
}
.cont-cast dd:before{
  content: "A.";
  margin-right: 10px;
  font-size: 1.1em;
  opacity: 0.5;
}


.archive-tit {
    font-size: 1.2em;
    border-radius: 2px;
    padding: 10px;
    color: #fff;
    margin: 30px 0 12px;
}
.archive-tit i{
  margin-right: 8px;
  opacity: 0.5;
}


#cont section.box_magazine_list {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.cat-list {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 8px auto;
    padding: 5px 15px;
    background-color: #fff;
}

.cat-list ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-top: 1px dotted #ccc;
}

.cat-list li {
    list-style-type: none;
    border-bottom: 1px dotted #ccc;
    position: relative;
    padding: 10px 0 8px 18px;
    line-height: 1.4em;
}

/* ====== アンカーリンク ====== */
.link{
	margin-top: -50px;
	padding-top: 50px;
}