@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lancelot');

/********************************

  共通 style

********************************/

//// 変数 ////
// color
$color-primary: #800020; // dark red
$color-base: #fff; // white
$color-highlight: #D5B45C; // gold
$color-dark: #111; // black

$color-line: #00B900;

//// font ////
$font-gothic: -apple-system, "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;;
$font-mincho: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
$font-english: 'Lancelot', cursive;

//// mixin ////
@mixin ease {
  transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
}
@mixin shadow {
    box-shadow: 0px 2px 4px 0px rgba($color-dark,0.1);
}

//// reset ////
ul{
  margin: 0;
  padding: 0;
  & li{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

/* ====== title ====== */
h1,h2,h3,h4,h5{
  font-family: $font-mincho;
}
.description{
  font-size: $font-mincho;
  color: $color-base;
  font-size: 1.0em;
  line-height: 1.4em;
  padding: 10px;
  font-weight: normal;
}
.title-top{
  text-align: center;
  font-family: $font-english;
  color: $color-base;
  font-size: 2.0em;
  line-height: 1.4em;
  letter-spacing: 2px;
  font-weight: normal;
  padding: 54px 0 0 0;
  margin: 10px auto 10px;
  position: relative;
  display: block;
  & small{
    display: block;
    font-family: $font-mincho;
    font-size: 0.5em;
    line-height: 1.4em;
    letter-spacing: 1px;
    font-weight: normal;
  }
  &::before{
    content: "";
    background-image: url(../img/mark-title.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.title{
  background-color: #66001A;
  border-left: 8px solid rgba($color-dark,0.2);
  font-weight: normal;
  letter-spacing: 1px;
  padding: 15px 10px 15px 8px;
  margin: 25px 0 10px;
  font-size: 1.5em;
  & span{
    font-family: $font-english;
    font-size: 1.2em;
    letter-spacing: 2px;
  }
  & small{
    font-family: $font-english;
    letter-spacing: 2px;
  }
}
.subtitle{
  background-color: rgba($color-dark,0.2);
  color: $color-highlight;
  font-family: $font-mincho;
  font-weight: normal;
  font-size: 1.2em;
  position: relative;
  padding: 10px 10px 10px 38px;
  margin: 15px 0 10px 0;
  &::before{
    content: "";
    background-image: url(../img/mark-subtitle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto;
    position: absolute;
    left: 10px;
  }
  & span{
    font-size: 1.2em;
    font-family: $font-english;
    letter-spacing: 2px;
  }
}

/* ====== lazyload ====== */
.lazyload{
 opacity: 0;
}
.lazyloaded{
  opacity: 1;
  transition: all 0.5s;
}

/* ====== btn ====== */
p{
  line-height: 1.8em;
  text-align: justify;
}

/* ====== btn ====== */
.btn{
  color: $color-highlight;
  font-family: $font-mincho;
  border: 1px solid rgba($color-highlight, 0.8);
  margin: 20px auto;
  padding: 2px;
  width: 300px;
  max-width: 90%;
  text-align: center;
  display: block;
  &.btn-top{
    margin: 25px auto 5px;	
  }
  & a{
    border: 3px solid rgba($color-highlight, 0.8);
    display: block;
    padding: 8px 10px 8px 15px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    letter-spacing: 1px;
    font-weight: normal;
    color: $color-highlight;
    text-decoration: none;
    & i{
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      height: 12px;
      margin: auto;
      opacity: 0.8;
    }
    &:after{
      content: "\f0da";
      font-family: "Font Awesome 5 Free";
      position: absolute;
      right: 10px;
      top: 0;
      bottom: 0;
      height: 20px;
      margin: auto;
      opacity: 0.8;
      font-weight: bold;
    }
    &:hover{
      text-decoration: none;
      background-color: $color-highlight;
    }
  }
}

/* ====== table ====== */
table{
  width: 100%;
  margin: 0 auto;
  & th, & td{
  }
  & th{
    background-color: rgba($color-base,0.18);
    padding: 8px 5px;
	line-height: 1.2em;
	font-weight: normal;
  }
  & td{
    padding: 8px 10px;	
    background-color: rgba($color-base,0.18);
	word-break: break-all;
    & a{
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  & strong{
    color: rgba($color-base,1.0)!important;
  }
  }
}