@charset "UTF-8";

//== definitions
@import "style"; //

/********************************

  お店 color

********************************/

//// ======== atom ======== ////

/* ====== style.scss ====== */
.atom{
  & .description{
    background-color: rgba($color-primary,1.0);
  }
  & .btn{
    & a{
      &:hover{
        color: $color-primary;
      }
    }
  }
}

/* ====== base.scss ====== */
body.atom {
  background-color: rgba($color-primary,1.0);
}
.atom{
  & #toggle {
    & div {
      & span{
        background-color: rgba($color-primary,0.8);
      }
    }
    & .menu {
      color: rgba($color-primary,0.8);
    }
  }
  & #nav {
    & ul{
      border-top: 1px solid $color-primary;
      & li{
        border-bottom: 1px solid $color-primary;
        & a{
          color: $color-primary;
        }
      }
    }
  }
}

/* ====== common.scss ====== */
.atom{
  & .diary-list{
    & a{
      & .diary-list{
        & .diary-list-text{
          & .diary-cast{
            color: $color-primary;
          }
        }
      }
    }  
  }
  & .postlink{
    & li{
      & a{
        color: $color-primary;
      }
    }
  }
  & .page-list{
    & ul{
      & li{
        & a{
          &:hover{
            color: $color-primary;
            &:after{
              color: $color-primary;
            }
          }
        }
      }
    }
  }
  & .pagination{
    & li{
      & a{
        &:hover{
          color: $color-primary;
        }
      }
    }
  }
  & .cont-recruit{
    & strong{
      color: $color-primary;
    }
  }
}