@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lancelot");
/********************************

  共通 style

********************************/
ul {
  margin: 0;
  padding: 0; }
  ul li {
    margin: 0;
    padding: 0;
    list-style-type: none; }

/* ====== title ====== */
h1, h2, h3, h4, h5 {
  font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif; }

.description {
  font-size: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  color: #fff;
  font-size: 1.0em;
  line-height: 1.4em;
  padding: 10px;
  font-weight: normal; }

.title-top {
  text-align: center;
  font-family: "Lancelot", cursive;
  color: #fff;
  font-size: 2.0em;
  line-height: 1.4em;
  letter-spacing: 2px;
  font-weight: normal;
  padding: 54px 0 0 0;
  margin: 10px auto 10px;
  position: relative;
  display: block; }
  .title-top small {
    display: block;
    font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    font-size: 0.5em;
    line-height: 1.4em;
    letter-spacing: 1px;
    font-weight: normal; }
  .title-top::before {
    content: "";
    background-image: url(../img/mark-title.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto; }

.title {
  background-color: #66001A;
  border-left: 8px solid rgba(17, 17, 17, 0.2);
  font-weight: normal;
  letter-spacing: 1px;
  padding: 15px 10px 15px 8px;
  margin: 25px 0 10px;
  font-size: 1.5em; }
  .title span {
    font-family: "Lancelot", cursive;
    font-size: 1.2em;
    letter-spacing: 2px; }
  .title small {
    font-family: "Lancelot", cursive;
    letter-spacing: 2px; }

.subtitle {
  background-color: rgba(17, 17, 17, 0.2);
  color: #D5B45C;
  font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: normal;
  font-size: 1.2em;
  position: relative;
  padding: 10px 10px 10px 38px;
  margin: 15px 0 10px 0; }
  .subtitle::before {
    content: "";
    background-image: url(../img/mark-subtitle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto;
    position: absolute;
    left: 10px; }
  .subtitle span {
    font-size: 1.2em;
    font-family: "Lancelot", cursive;
    letter-spacing: 2px; }

/* ====== lazyload ====== */
.lazyload {
  opacity: 0; }

.lazyloaded {
  opacity: 1;
  transition: all 0.5s; }

/* ====== btn ====== */
p {
  line-height: 1.8em;
  text-align: justify; }

/* ====== btn ====== */
.btn {
  color: #D5B45C;
  font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  border: 1px solid rgba(213, 180, 92, 0.8);
  margin: 20px auto;
  padding: 2px;
  width: 300px;
  max-width: 90%;
  text-align: center;
  display: block; }
  .btn.btn-top {
    margin: 25px auto 5px; }
  .btn a {
    border: 3px solid rgba(213, 180, 92, 0.8);
    display: block;
    padding: 8px 10px 8px 15px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    letter-spacing: 1px;
    font-weight: normal;
    color: #D5B45C;
    text-decoration: none; }
    .btn a i {
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      height: 12px;
      margin: auto;
      opacity: 0.8; }
    .btn a:after {
      content: "\f0da";
      font-family: "Font Awesome 5 Free";
      position: absolute;
      right: 10px;
      top: 0;
      bottom: 0;
      height: 20px;
      margin: auto;
      opacity: 0.8;
      font-weight: bold; }
    .btn a:hover {
      text-decoration: none;
      background-color: #D5B45C; }

/* ====== table ====== */
table {
  width: 100%;
  margin: 0 auto; }
  table th {
    background-color: rgba(255, 255, 255, 0.18);
    padding: 8px 5px;
    line-height: 1.2em;
    font-weight: normal; }
  table td {
    padding: 8px 10px;
    background-color: rgba(255, 255, 255, 0.18);
    word-break: break-all; }
    table td a {
      text-decoration: underline; }
      table td a:hover {
        text-decoration: none; }
    table td strong {
      color: white !important; }

/********************************

  お店 color

********************************/
/* ====== style.scss ====== */
.atom .description {
  background-color: #800020; }
.atom .btn a:hover {
  color: #800020; }

/* ====== base.scss ====== */
body.atom {
  background-color: #800020; }

.atom #toggle div span {
  background-color: rgba(128, 0, 32, 0.8); }
.atom #toggle .menu {
  color: rgba(128, 0, 32, 0.8); }
.atom #nav ul {
  border-top: 1px solid #800020; }
  .atom #nav ul li {
    border-bottom: 1px solid #800020; }
    .atom #nav ul li a {
      color: #800020; }

/* ====== common.scss ====== */
.atom .diary-list a .diary-list .diary-list-text .diary-cast {
  color: #800020; }
.atom .postlink li a {
  color: #800020; }
.atom .page-list ul li a:hover {
  color: #800020; }
  .atom .page-list ul li a:hover:after {
    color: #800020; }
.atom .pagination li a:hover {
  color: #800020; }
.atom .cont-recruit strong {
  color: #800020; }
