@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lancelot");
/********************************

  共通 style

********************************/
@import url("https://fonts.googleapis.com/css?family=Lancelot");
ul {
  margin: 0;
  padding: 0; }
  ul li {
    margin: 0;
    padding: 0;
    list-style-type: none; }

/* ====== title ====== */
h1, h2, h3, h4, h5 {
  font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif; }

.description {
  font-size: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  color: #fff;
  font-size: 1.0em;
  line-height: 1.4em;
  padding: 10px;
  font-weight: normal; }

.title-top {
  text-align: center;
  font-family: "Lancelot", cursive;
  color: #fff;
  font-size: 2.0em;
  line-height: 1.4em;
  letter-spacing: 2px;
  font-weight: normal;
  padding: 54px 0 0 0;
  margin: 10px auto 10px;
  position: relative;
  display: block; }
  .title-top small {
    display: block;
    font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    font-size: 0.5em;
    line-height: 1.4em;
    letter-spacing: 1px;
    font-weight: normal; }
  .title-top::before {
    content: "";
    background-image: url(../img/mark-title.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto; }

.title {
  background-color: #66001A;
  border-left: 8px solid rgba(17, 17, 17, 0.2);
  font-weight: normal;
  letter-spacing: 1px;
  padding: 15px 10px 15px 8px;
  margin: 25px 0 10px;
  font-size: 1.5em; }
  .title span {
    font-family: "Lancelot", cursive;
    font-size: 1.2em;
    letter-spacing: 2px; }
  .title small {
    font-family: "Lancelot", cursive;
    letter-spacing: 2px; }

.subtitle {
  background-color: rgba(17, 17, 17, 0.2);
  color: #D5B45C;
  font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: normal;
  font-size: 1.2em;
  position: relative;
  padding: 10px 10px 10px 38px;
  margin: 15px 0 10px 0; }
  .subtitle::before {
    content: "";
    background-image: url(../img/mark-subtitle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto;
    position: absolute;
    left: 10px; }
  .subtitle span {
    font-size: 1.2em;
    font-family: "Lancelot", cursive;
    letter-spacing: 2px; }

/* ====== lazyload ====== */
.lazyload {
  opacity: 0; }

.lazyloaded {
  opacity: 1;
  transition: all 0.5s; }

/* ====== btn ====== */
p {
  line-height: 1.8em;
  text-align: justify; }

/* ====== btn ====== */
.btn {
  color: #D5B45C;
  font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  border: 1px solid rgba(213, 180, 92, 0.8);
  margin: 20px auto;
  padding: 2px;
  width: 300px;
  max-width: 90%;
  text-align: center;
  display: block; }
  .btn.btn-top {
    margin: 25px auto 5px; }
  .btn a {
    border: 3px solid rgba(213, 180, 92, 0.8);
    display: block;
    padding: 8px 10px 8px 15px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    letter-spacing: 1px;
    font-weight: normal;
    color: #D5B45C;
    text-decoration: none; }
    .btn a i {
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      height: 12px;
      margin: auto;
      opacity: 0.8; }
    .btn a:after {
      content: "\f0da";
      font-family: "Font Awesome 5 Free";
      position: absolute;
      right: 10px;
      top: 0;
      bottom: 0;
      height: 20px;
      margin: auto;
      opacity: 0.8;
      font-weight: bold; }
    .btn a:hover {
      text-decoration: none;
      background-color: #D5B45C; }

/* ====== table ====== */
table {
  width: 100%;
  margin: 0 auto; }
  table th {
    background-color: rgba(255, 255, 255, 0.18);
    padding: 8px 5px;
    line-height: 1.2em;
    font-weight: normal; }
  table td {
    padding: 8px 10px;
    background-color: rgba(255, 255, 255, 0.18);
    word-break: break-all; }
    table td a {
      text-decoration: underline; }
      table td a:hover {
        text-decoration: none; }
    table td strong {
      color: white !important; }

/********************************

  下層ページ_共通部分

********************************/
/* ====== base ====== */
html {
  background-color: #eee; }

body {
  margin: 0 auto;
  font-size: 13px;
  line-height: 1.6em;
  font-family: -apple-system, "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #fff;
  width: 640px;
  max-width: 100%; }

#wrapper {
  margin: auto;
  position: relative;
  overflow-x: hidden;
  width: 640px;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(17, 17, 17, 0.2); }

a, a:hover {
  color: #fff;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out; }

a:hover {
  opacity: 0.8; }

img {
  max-width: 100%; }

/* ====== header ====== */
header {
  background-color: white;
  width: 640px;
  max-width: 100%;
  top: 0;
  z-index: 999;
  position: relative; }

.is-fixed {
  position: fixed;
  top: 0;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out; }

/* header logo */
.logo {
  margin: 12px 0 5px 10px;
  height: 35px; }

/* header btn */
.header-btn {
  position: absolute;
  top: 5px;
  right: 58px; }
  .header-btn li {
    display: inline-block; }
    .header-btn li.header-btn-line a {
      background-color: #00B900;
      border: 3px solid #eee;
      border-radius: 6px;
      padding: 7px 10px 7px 10px;
      text-align: center;
      display: block;
      text-decoration: none;
      font-size: 10px;
      line-height: 1.0em; }
      .header-btn li.header-btn-line a img {
        display: block;
        height: 15px;
        margin: 0 auto 3px; }

/* toggle */
#toggle {
  display: block;
  position: absolute;
  top: 10px;
  right: 12px;
  width: 35px;
  height: 35px;
  padding: 3px 0;
  cursor: pointer;
  z-index: 1000; }
  #toggle div {
    position: relative; }
    #toggle div span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      border-radius: 30px;
      transition: .3s ease-in-out;
      -webkit-transition: .3s ease-in-out;
      -moz-transition: .3s ease-in-out; }
      #toggle div span:nth-child(1) {
        top: 0px; }
      #toggle div span:nth-child(2) {
        top: 8px; }
      #toggle div span:nth-child(3) {
        top: 16px; }
  #toggle .menu {
    display: block;
    position: absolute;
    top: 18px;
    left: -1.5px;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-family: "Lancelot", cursive; }

.open #toggle span:nth-child(1) {
  top: 7px;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  transform: rotate(315deg); }
.open #toggle span:nth-child(2) {
  display: none; }
.open #toggle span:nth-child(3) {
  top: 7px;
  -webkit-transform: rotate(-315deg);
  -moz-transform: rotate(-315deg);
  transform: rotate(-315deg); }

/* nav */
#nav {
  position: absolute;
  top: -499px;
  width: 100%;
  background: #fff;
  text-align: center; }
  #nav ul {
    right: 0;
    bottom: 0; }
    #nav ul li {
      float: none;
      position: static;
      font-size: 15px; }
      #nav ul li a {
        width: 100%;
        display: block;
        padding: 15px 0;
        letter-spacing: 1px;
        text-decoration: none; }
        #nav ul li a:hover {
          background-color: rgba(213, 180, 92, 0.5); }

.open #nav {
  -moz-transform: translateY(556px);
  -webkit-transform: translateY(556px);
  transform: translateY(556px); }

/* ====== footer ====== */
/* information */
.information {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 0.9em;
  line-height: 1.8em;
  padding: 0 0 5px 0; }
  .information a {
    text-decoration: none; }
    .information a:hover {
      text-decoration: underline; }
  .information .information-title {
    background-color: #66001A;
    position: relative;
    text-align: left;
    font-family: "Lancelot", cursive;
    padding: 15px 10px 10px 95px;
    font-size: 1.3em;
    line-height: 1.0em;
    letter-spacing: 2px; }
    .information .information-title .shop-img {
      border-radius: 5px;
      border: 2px solid #D5B45C;
      position: absolute;
      width: 70px;
      height: 70px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      left: 10px;
      top: -15px;
      box-shadow: 0px 2px 4px 0px rgba(17, 17, 17, 0.1); }
  .information img {
    display: block;
    max-width: 80px;
    margin: 20px auto 15px; }
  .information strong {
    margin-bottom: 2px;
    font-size: 1.1em; }
  .information a {
    font-weight: bold; }

/* sns */
.sns {
  margin: 15px 0; }
  .sns li {
    display: inline-block;
    font-size: 1.8em;
    opacity: 0.8;
    margin: 0 10px; }

/* footer */
footer {
  background-color: rgba(17, 17, 17, 0.8);
  text-align: center;
  padding: 25px 10px 60px; }
  footer ul {
    font-size: 0; }
    footer ul li {
      display: inline-block;
      font-size: 12px;
      line-height: 1.0em;
      letter-spacing: 1px;
      padding: 0 10px;
      border-right: 1px solid #fff; }
      footer ul li:last-child {
        border: none; }
      footer ul li a {
        text-decoration: none; }
        footer ul li a:hover {
          text-decoration: underline; }
  footer .copyright {
    font-size: 0.8em;
    letter-spacing: 1px;
    opacity: 0.9; }

/* float btn */
.float-btn {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eee; }
  .float-btn ul {
    font-size: 0;
    width: 640px;
    max-width: 100%;
    margin: auto; }
    .float-btn ul li {
      display: inline-block;
      vertical-align: top; }
      .float-btn ul li a {
        text-decoration: none;
        display: block; }
        .float-btn ul li a :hover {
          opacity: 0.5; }
      .float-btn ul li.footer-btn-line {
        width: 42.5%;
        font-size: 12px;
        line-height: 1.0em; }
        .float-btn ul li.footer-btn-line a {
          padding: 15px 0px 15px 5px;
          background-color: #00b900; }
          .float-btn ul li.footer-btn-line a img {
            max-height: 15px;
            margin-right: 2px; }
      .float-btn ul li.footer-btn-phone {
        width: 42.5%;
        font-size: 14px;
        line-height: 1.0em; }
        .float-btn ul li.footer-btn-phone a {
          padding: 16px 0px 16.5px 20px;
          background-color: #d5b45c;
          position: relative; }
          .float-btn ul li.footer-btn-phone a i {
            position: absolute;
            left: 12px;
            font-size: 18px;
            top: 0;
            bottom: 0;
            height: 18px;
            margin: auto;
            opacity: 0.8; }
      .float-btn ul li.footer-btn-top {
        width: 15%; }
        .float-btn ul li.footer-btn-top a {
          background-color: white;
          color: #D5B45C;
          padding: 23px 0 23.5px;
          position: relative; }
          .float-btn ul li.footer-btn-top a i {
            font-size: 20px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 20px;
            height: 20px;
            margin: auto; }
  .float-btn .copyright {
    font-size: 0.8em; }

/* ====== contents ====== */
/* ブログ・お知らせ */
.cont-archive {
  padding-bottom: 30px; }

.cont-archive .btn {
  margin-bottom: 15px; }

.cont-archive h1 {
  background-color: #ddb39e;
  color: #1a140f;
  font-size: 1.4em;
  line-height: 1.6em;
  font-weight: normal;
  margin: 0 0 15px 0;
  padding: 15px 15px 12px 20px;
  position: relative;
  display: block;
  letter-spacing: 1px;
  border: none;
  text-align: left; }

.cont-archive h1:before {
  content: "";
  position: absolute;
  left: 0;
  width: 8px;
  height: 30px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  display: block; }

.archive {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(17, 17, 17, 0.1);
  padding: 15px; }

.archive img {
  width: 300px;
  max-width: 100%;
  margin: 0 auto 15px auto;
  display: block; }

.archive-data {
  opacity: 0.6;
  font-size: 0.9em;
  margin-bottom: 5px; }

.btn-list i {
  opacity: 0.5;
  margin-right: 10px; }

.cast-box h1, .cast-box h3 {
  margin: 0 0 15px 0;
  text-align: center;
  font-size: 2.0em;
  line-height: 1.0em;
  color: #fff;
  background-color: transparent;
  border: none; }

.cast-box h1 small, .cast-box h3 small {
  margin-left: 5px;
  font-size: 0.7em; }

.cast-box img {
  width: 300px;
  max-width: 100%;
  border-radius: 100%;
  margin: 0 auto 10px auto;
  display: block; }

.cast-box .cast-comment {
  background-color: #fff;
  text-shadow: 0 0 10px rgba(17, 17, 17, 0.1);
  padding: 20px;
  border-radius: 5px;
  position: relative;
  margin: 30px auto; }

.cast-box .cast-comment:before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: -15px;
  width: 0px;
  height: 0px;
  margin: auto;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
  text-shadow: 0 0 10px rgba(17, 17, 17, 0.1); }

/* キャスト */
.cont-cast dl {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(17, 17, 17, 0.1); }

.cont-cast dt {
  color: #fff;
  font-size: 1.1em;
  padding: 15px;
  border-radius: 5px 5px 0 0; }

.cont-cast dt:before {
  content: "Q.";
  margin-right: 10px; }

.cont-cast dd {
  margin: 0;
  padding: 15px; }

.cont-cast dd:before {
  content: "A.";
  margin-right: 10px;
  font-size: 1.1em;
  opacity: 0.5; }

.archive-tit {
  font-size: 1.2em;
  border-radius: 2px;
  padding: 10px;
  color: #fff;
  margin: 30px 0 12px; }

.archive-tit i {
  margin-right: 8px;
  opacity: 0.5; }

#cont section.box_magazine_list {
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

.cat-list {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 8px auto;
  padding: 5px 15px;
  background-color: #fff; }

.cat-list ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border-top: 1px dotted #ccc; }

.cat-list li {
  list-style-type: none;
  border-bottom: 1px dotted #ccc;
  position: relative;
  padding: 10px 0 8px 18px;
  line-height: 1.4em; }

/* ====== アンカーリンク ====== */
.link {
  margin-top: -50px;
  padding-top: 50px; }

/********************************

  共通 style

********************************/
ul {
  margin: 0;
  padding: 0; }
  ul li {
    margin: 0;
    padding: 0;
    list-style-type: none; }

/* ====== title ====== */
h1, h2, h3, h4, h5 {
  font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif; }

.description {
  font-size: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  color: #fff;
  font-size: 1.0em;
  line-height: 1.4em;
  padding: 10px;
  font-weight: normal; }

.title-top {
  text-align: center;
  font-family: "Lancelot", cursive;
  color: #fff;
  font-size: 2.0em;
  line-height: 1.4em;
  letter-spacing: 2px;
  font-weight: normal;
  padding: 54px 0 0 0;
  margin: 10px auto 10px;
  position: relative;
  display: block; }
  .title-top small {
    display: block;
    font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    font-size: 0.5em;
    line-height: 1.4em;
    letter-spacing: 1px;
    font-weight: normal; }
  .title-top::before {
    content: "";
    background-image: url(../img/mark-title.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto; }

.title {
  background-color: #66001A;
  border-left: 8px solid rgba(17, 17, 17, 0.2);
  font-weight: normal;
  letter-spacing: 1px;
  padding: 15px 10px 15px 8px;
  margin: 25px 0 10px;
  font-size: 1.5em; }
  .title span {
    font-family: "Lancelot", cursive;
    font-size: 1.2em;
    letter-spacing: 2px; }
  .title small {
    font-family: "Lancelot", cursive;
    letter-spacing: 2px; }

.subtitle {
  background-color: rgba(17, 17, 17, 0.2);
  color: #D5B45C;
  font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: normal;
  font-size: 1.2em;
  position: relative;
  padding: 10px 10px 10px 38px;
  margin: 15px 0 10px 0; }
  .subtitle::before {
    content: "";
    background-image: url(../img/mark-subtitle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto;
    position: absolute;
    left: 10px; }
  .subtitle span {
    font-size: 1.2em;
    font-family: "Lancelot", cursive;
    letter-spacing: 2px; }

/* ====== lazyload ====== */
.lazyload {
  opacity: 0; }

.lazyloaded {
  opacity: 1;
  transition: all 0.5s; }

/* ====== btn ====== */
p {
  line-height: 1.8em;
  text-align: justify; }

/* ====== btn ====== */
.btn {
  color: #D5B45C;
  font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  border: 1px solid rgba(213, 180, 92, 0.8);
  margin: 20px auto;
  padding: 2px;
  width: 300px;
  max-width: 90%;
  text-align: center;
  display: block; }
  .btn.btn-top {
    margin: 25px auto 5px; }
  .btn a {
    border: 3px solid rgba(213, 180, 92, 0.8);
    display: block;
    padding: 8px 10px 8px 15px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    letter-spacing: 1px;
    font-weight: normal;
    color: #D5B45C;
    text-decoration: none; }
    .btn a i {
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      height: 12px;
      margin: auto;
      opacity: 0.8; }
    .btn a:after {
      content: "\f0da";
      font-family: "Font Awesome 5 Free";
      position: absolute;
      right: 10px;
      top: 0;
      bottom: 0;
      height: 20px;
      margin: auto;
      opacity: 0.8;
      font-weight: bold; }
    .btn a:hover {
      text-decoration: none;
      background-color: #D5B45C; }

/* ====== table ====== */
table {
  width: 100%;
  margin: 0 auto; }
  table th {
    background-color: rgba(255, 255, 255, 0.18);
    padding: 8px 5px;
    line-height: 1.2em;
    font-weight: normal; }
  table td {
    padding: 8px 10px;
    background-color: rgba(255, 255, 255, 0.18);
    word-break: break-all; }
    table td a {
      text-decoration: underline; }
      table td a:hover {
        text-decoration: none; }
    table td strong {
      color: white !important; }

/********************************

  お店 color

********************************/
/* ====== style.scss ====== */
.atom .description {
  background-color: #800020; }
.atom .btn a:hover {
  color: #800020; }

/* ====== base.scss ====== */
body.atom {
  background-color: #800020; }

.atom #toggle div span {
  background-color: rgba(128, 0, 32, 0.8); }
.atom #toggle .menu {
  color: rgba(128, 0, 32, 0.8); }
.atom #nav ul {
  border-top: 1px solid #800020; }
  .atom #nav ul li {
    border-bottom: 1px solid #800020; }
    .atom #nav ul li a {
      color: #800020; }

/* ====== common.scss ====== */
.atom .diary-list a .diary-list .diary-list-text .diary-cast {
  color: #800020; }
.atom .postlink li a {
  color: #800020; }
.atom .page-list ul li a:hover {
  color: #800020; }
  .atom .page-list ul li a:hover:after {
    color: #800020; }
.atom .pagination li a:hover {
  color: #800020; }
.atom .cont-recruit strong {
  color: #800020; }

/********************************

  コンテンツページ

********************************/
/* ====== main ====== */
main {
  background-image: url(../img/lace.svg);
  background-repeat: repeat-x;
  background-size: auto 30px;
  background-position: top center;
  padding: 20px 10px 30px;
  margin: 0; }

/* ====== fv ====== */
.fv {
  padding-top: 45%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
  position: relative; }
  .fv .page-title {
    background-color: rgba(17, 17, 17, 0.8);
    font-size: 1.8em;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
    height: 50px;
    text-align: center;
    font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    text-shadow: 2px 1px 0px rgba(17, 17, 17, 0.3);
    box-shadow: 0px 2px 4px 0px rgba(17, 17, 17, 0.1); }

/* ====== shop ====== */
.fv-shop {
  background-image: url(../img/shop/shop-fv.jpg); }

iframe {
  margin: 15px auto 0; }

/* ====== cast ====== */
.cast-list {
  text-align: center;
  width: 100%;
  font-size: 0; }
  .cast-list li {
    display: inline-block;
    width: 32%;
    vertical-align: top;
    margin: 0 0 10px; }
    .cast-list li:nth-of-type(1), .cast-list li:nth-of-type(2), .cast-list li:nth-of-type(4), .cast-list li:nth-of-type(5), .cast-list li:nth-of-type(7), .cast-list li:nth-of-type(8), .cast-list li:nth-of-type(10), .cast-list li:nth-of-type(11) {
      margin-right: 2%; }
    .cast-list li a {
      position: relative;
      display: block; }
      .cast-list li a .cast-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 150%; }
        .cast-list li a .cast-img span {
          position: absolute;
          top: 0;
          left: 4px; }
          .cast-list li a .cast-img span img {
            width: 30px;
            height: 30px; }
      .cast-list li a .cast-name {
        background-color: rgba(17, 17, 17, 0.8);
        text-align: center;
        font-size: 11px;
        line-height: 1.0em;
        padding: 5px;
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        text-decoration: none; }
    .cast-list li.more .cast-more-bg {
      background-color: rgba(213, 180, 92, 0.9);
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0; }
      .cast-list li.more .cast-more-bg .cast-more {
        position: absolute;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.5em;
        font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
        text-align: center;
        color: rgba(17, 17, 17, 0.8);
        width: 100%;
        height: 95px;
        top: 0;
        bottom: 0;
        margin: auto; }
        .cast-list li.more .cast-more-bg .cast-more i {
          display: block;
          font-size: 24px;
          margin: 15px 5px 5px 0; }
    .cast-list li.more .cast-more-border {
      content: "";
      border: 2px solid rgba(17, 17, 17, 0.8);
      display: block;
      width: 95%;
      height: 95%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }

/* プロフィールページ */
.page-cast {
  padding: 40px 20px 5px;
  margin: 0 0 20px; }
  .page-cast .title-top {
    font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    padding-top: 42px; }
    .page-cast .title-top small {
      font-family: "Lancelot", cursive;
      letter-spacing: 4px;
      font-size: 0.75em;
      line-height: 1.0em;
      font-weight: normal;
      color: #D5B45C;
      opacity: 0.8;
      padding-left: 2px; }
  .page-cast .page-cast-img {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: 30px auto 20px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    max-width: 100%;
    border: 4px solid #D5B45C; }
    .page-cast .page-cast-img span {
      position: absolute;
      width: 180px;
      height: 180px;
      left: 0;
      right: 0;
      margin: auto;
      top: -15px; }
    .page-cast .page-cast-img::before {
      content: "";
      border: 1px solid rgba(213, 180, 92, 0.9);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      display: block;
      border-radius: 100%;
      width: 295px;
      height: 295px;
      max-width: 97%;
      max-height: 97%; }

/* キャスト写真 */
.cast-img-lightbox {
  text-align: center;
  font-size: 0;
  margin: 15px 0 20px;
  padding: 10px;
  background-color: rgba(17, 17, 17, 0.2); }
  .cast-img-lightbox li {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50%;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    background-color: rgba(17, 17, 17, 0.5);
    border: double 2px rgba(213, 180, 92, 0.8); }
  .cast-img-lightbox a:nth-child(odd) li {
    border-right: none; }

/* ====== diary ====== */
.cont-diary {
  padding-top: 40px; }

.diary-list {
  font-size: 0; }
  .diary-list a {
    margin-bottom: 15px;
    display: block;
    width: 100%; }
    .diary-list a .diary-list {
      background-color: rgba(17, 17, 17, 0.45);
      padding: 8px;
      border-radius: 5px;
      position: relative;
      color: #D5B45C;
      line-height: 1.0em; }
      .diary-list a .diary-list .diary-list-text {
        font-size: 14px;
        display: inline-block;
        vertical-align: top;
        width: 70%; }
        .diary-list a .diary-list .diary-list-text .diary-cast-img {
          width: 45px;
          height: 45px;
          border-radius: 100%;
          border: 2px solid #D5B45C;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          position: absolute;
          left: 6px;
          top: -8px; }
          .diary-list a .diary-list .diary-list-text .diary-cast-img span img {
            margin-top: 32px; }
        .diary-list a .diary-list .diary-list-text .diary-cast {
          position: absolute;
          left: 60px;
          top: 14px;
          background-color: #D5B45C;
          font-size: 0.8em;
          line-height: 1.0em;
          font-weight: bold;
          padding: 2px 5px; }
        .diary-list a .diary-list .diary-list-text p {
          display: block;
          font-size: 0.9em;
          line-height: 1.3em;
          margin: 35px 0 0 0px; }
          .diary-list a .diary-list .diary-list-text p small {
            display: block;
            font-family: "Lancelot", cursive;
            letter-spacing: 2px;
            font-size: 1.1em;
            margin-left: 2px; }
      .diary-list a .diary-list .diary-list-img {
        display: inline-block;
        width: 30%;
        height: 85px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border: 1px solid #D5B45C; }

/* 記事ページ */
.page-title.page-title-cast {
  width: 70%;
  height: 70px;
  padding: 25px 0 25px 52px;
  background-color: rgba(213, 180, 92, 0.85);
  letter-spacing: 0; }
  .page-title.page-title-cast small {
    letter-spacing: 2px; }
  .page-title.page-title-cast .page-title-cast-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #fff;
    position: absolute;
    left: 10px;
    top: 10px;
    box-shadow: 0px 2px 4px 0px rgba(17, 17, 17, 0.1); }

.eyecatch {
  width: 300px;
  max-width: 100%;
  border: 2px solid #D5B45C;
  margin: 15px auto 15px;
  display: block; }

/* postlink */
.postlink {
  text-align: center;
  margin: 15px auto 15px auto;
  width: 100%;
  display: block; }
  .postlink li {
    display: inline-block;
    font-size: 0.95em;
    letter-spacing: 1px;
    font-weight: bold;
    width: 49%; }
    .postlink li a {
      background-color: rgba(213, 180, 92, 0.9);
      display: block;
      padding: 8px 0;
      font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
      text-decoration: none; }

/*ページリスト */
.diary-cast-title {
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  letter-spacing: 1px;
  font-weight: normal;
  color: #D5B45C;
  background-color: rgba(17, 17, 17, 0.85);
  position: relative; }
  .diary-cast-title::before, .diary-cast-title::after {
    content: "";
    position: absolute;
    background-image: url(../img/mark-copy.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 15px;
    height: 30px;
    top: 0;
    bottom: 0;
    margin: auto; }
  .diary-cast-title::before {
    left: 5px; }
  .diary-cast-title::after {
    right: 5px;
    transform: scale(-1, 1); }

.diary-cast {
  background-color: rgba(17, 17, 17, 0.45);
  padding: 10px 20px 5px;
  margin: 0 0 20px; }
  .diary-cast .diary-cast-img {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50%;
    margin: 10px auto 15px;
    width: 250px;
    max-width: 100%;
    border: 2px solid #D5B45C; }
    .diary-cast .diary-cast-img::before, .diary-cast .diary-cast-img::after {
      content: "";
      background-image: url(../img/frame.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 50px;
      height: 50px;
      position: absolute;
      display: block; }
    .diary-cast .diary-cast-img::before {
      top: 0;
      left: 0; }
    .diary-cast .diary-cast-img::after {
      top: 0;
      right: 0;
      transform: scale(-1, 1); }
    .diary-cast .diary-cast-img .diary-cast-border {
      width: 95%;
      height: 95%;
      display: block;
      border: 1px solid rgba(213, 180, 92, 0.9);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
    .diary-cast .diary-cast-img .diary-cast-frame {
      position: relative;
      margin-top: -50px; }
      .diary-cast .diary-cast-img .diary-cast-frame::before, .diary-cast .diary-cast-img .diary-cast-frame::after {
        content: "";
        background-image: url(../img/frame.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 50px;
        height: 50px;
        position: absolute;
        display: block; }
      .diary-cast .diary-cast-img .diary-cast-frame::before {
        top: 0;
        left: 0;
        transform: scale(1, -1); }
      .diary-cast .diary-cast-img .diary-cast-frame::after {
        top: 0;
        right: 0;
        transform: scale(-1, -1); }
    .diary-cast .diary-cast-img span {
      position: absolute;
      width: 45px;
      height: 45px;
      left: 10px;
      top: 0; }
  .diary-cast .diary-cast-name {
    text-align: center;
    font-size: 1.4em;
    margin: 15px 0 8px; }
  .diary-cast p {
    font-size: 0.9em; }

/*ページリスト */
.page-list .subtitle {
  margin: 0 -10px 20px; }
.page-list .diary-list {
  margin-bottom: 20px; }
.page-list ul {
  margin: -5px 0 20px 0;
  border-top: 1px dotted rgba(255, 255, 255, 0.5); }
  .page-list ul li {
    display: block; }
    .page-list ul li a {
      display: block;
      text-decoration: none;
      padding: 10px;
      border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
      position: relative; }
      .page-list ul li a:after {
        content: "\f0da";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        height: 20px;
        margin: auto;
        opacity: 0.8;
        font-weight: bold;
        color: #D5B45C; }
      .page-list ul li a:hover {
        text-decoration: none;
        background-color: #D5B45C; }

/* ====== news ====== */
.cont-news {
  padding-top: 40px; }

.news ul {
  border-top: 1px dotted rgba(255, 255, 255, 0.5); }
  .news ul li a {
    padding: 15px 10px;
    display: block;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 1.0em;
    line-height: 1.4em; }
    .news ul li a small {
      color: #D5B45C;
      font-size: 1.2em;
      letter-spacing: 2px;
      display: block;
      font-family: "Lancelot", cursive; }

/* pagination */
.pagination {
  text-align: center;
  margin: 30px auto 0; }
  .pagination li {
    margin: 0 0 0 0;
    padding: 0 0 15px 0;
    display: inline-block; }
    .pagination li:first-child, .pagination li:last-child {
      display: none; }
    .pagination li .page-link {
      padding: 5px 8px;
      color: #800020;
      border: 1px solid rgba(213, 180, 92, 0.9);
      background-color: rgba(213, 180, 92, 0.9); }
    .pagination li a.page-link {
      text-decoration: none;
      color: #D5B45C;
      border: 1px solid #D5B45C;
      background-color: #800020; }
      .pagination li a.page-link:hover {
        background-color: #D5B45C; }

/* ====== recruit ====== */
.fv-recruit {
  background-image: url(../img/recruit/recruit-fv.jpg); }

.cont-recruit p {
  margin: 15px auto 15px; }
  .cont-recruit p.btn-text {
    text-align: center; }
.cont-recruit ul li {
  position: relative;
  margin: 0 0 5px;
  padding: 0 0 0 15px;
  line-height: 1.4em; }
  .cont-recruit ul li:before {
    content: "";
    background-color: rgba(213, 180, 92, 0.5);
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    left: 0px;
    top: 5px; }
  .cont-recruit ul li:last-child {
    margin-bottom: 0; }
.cont-recruit .btns .btn {
  margin: 10px auto;
  text-decoration: none;
  color: #fff;
  position: relative;
  padding: 8px 10px 8px 15px; }
  .cont-recruit .btns .btn i {
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    height: 12px;
    margin: auto;
    opacity: 0.8; }
  .cont-recruit .btns .btn.btn-mail {
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%); }
  .cont-recruit .btns .btn.btn-tel {
    background-image: -webkit-linear-gradient(45deg, #0099CC 0%, #4682b4 100%);
    background-image: linear-gradient(45deg, #0099CC 0%, #4682b4 100%); }
  .cont-recruit .btns .btn.btn-line {
    background-image: -webkit-linear-gradient(45deg, #00B900 0%, #00B900 100%);
    background-image: linear-gradient(45deg, #00B900 0%, #00B900 100%); }
    .cont-recruit .btns .btn.btn-line img {
      position: absolute;
      left: 6px;
      top: 0;
      bottom: 0;
      height: 20px;
      margin: auto;
      opacity: 0.8; }
  .cont-recruit .btns .btn:after {
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    height: 20px;
    margin: auto;
    opacity: 0.8;
    font-weight: bold; }
.cont-recruit .btn.btn-top {
  margin: 25px auto 5px; }

/* ====== privacy ====== */
.cont-privacy {
  padding-top: 40px; }
