@charset "UTF-8";

//== definitions
@import "style"; //
@import "base"; //
@import "color"; //

/********************************

  コンテンツページ

********************************/

/* ====== main ====== */
main{
  background-image: url(../img/lace.svg);
  background-repeat: repeat-x;
  background-size: auto 30px;
  background-position: top center;
  padding: 20px 10px 30px;
  margin: 0;
}

/* ====== fv ====== */
.fv{
  padding-top: 45%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
  position: relative;
  & .page-title{
    background-color: rgba($color-dark,0.8);
    font-size: 1.8em;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
    height: 50px;
    text-align: center;
    font-family: $font-mincho;
    text-shadow: 2px 1px 0px rgba($color-dark,0.3);
    @include shadow;
    }  
}

/* ====== shop ====== */
.fv-shop{
  background-image: url(../img/shop/shop-fv.jpg);
}
iframe{
  margin: 15px auto 0;
}

/* ====== cast ====== */
.cast-list{
  text-align: center;
  width: 100%;
  font-size: 0;
  & li{
    display: inline-block;
    width: 32%;
    vertical-align: top;
    margin: 0 0 10px;
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(7),
    &:nth-of-type(8),
    &:nth-of-type(10),
    &:nth-of-type(11){
      margin-right: 2%;
    }
    & a{
      position: relative;
      display: block;
      & .cast-img{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 150%;
        & span{
          position: absolute;
          top: 0;
          left: 4px;
          & img{
            width: 30px;
            height: 30px;
          }
        }
      }
      & .cast-name{
        background-color: rgba($color-dark,0.8);
        text-align: center;
        font-size: 11px;
        line-height: 1.0em;
        padding: 5px;
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        text-decoration: none;
      }
    }
    &.more{
	  & .cast-img{
	  }
      & .cast-more-bg{
        background-color: rgba($color-highlight,0.9);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        & .cast-more{
          position: absolute;
          font-size: 12px;
          font-weight: bold;
          line-height: 1.5em;
          font-family: $font-mincho;
          text-align: center;
          color: rgba($color-dark,0.8);
          width: 100%;
          height: 95px;
          top: 0;
          bottom: 0;
          margin: auto;
          & i{
            display: block;
            font-size: 24px;
            margin: 15px 5px 5px 0;
          }
        }
      }
      .cast-more-border{
        content: "";
        border: 2px solid rgba($color-dark,0.8);
        display: block;
        width: 95%;
        height: 95%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
}
/* プロフィールページ */
.page-cast{
  padding: 40px 20px 5px;
  margin: 0 0 20px;
  & .title-top{
    font-family: $font-mincho;
    padding-top: 42px;
    & small{
      font-family: $font-english;
      letter-spacing: 4px;
      font-size: 0.75em;
      line-height: 1.0em;
      font-weight: normal;
      color: $color-highlight;
      opacity: 0.8;
      padding-left: 2px;
    }
  }
  & .page-cast-img{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: 30px auto 20px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    max-width: 100%;
    border: 4px solid $color-highlight;
    & span{
      position: absolute;
      width: 180px;
      height: 180px;
      left: 0;
      right: 0;
      margin: auto;
      top: -15px;
    }
    &::before{
      content: "";
      border: 1px solid rgba($color-highlight,0.9);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      display: block;
      border-radius: 100%;
      width: 295px;
      height: 295px;
      max-width: 97%;
      max-height: 97%;
    }
  }
}
/* キャスト写真 */
.cast-img-lightbox{
  text-align: center;
  font-size: 0;
  margin: 15px 0 20px;
  padding: 10px;
  background-color: rgba($color-dark,0.2);
  & li{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50%;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    background-color: rgba($color-dark,0.5);
    border: double 2px rgba($color-highlight,0.8);
  }
  & a:nth-child(odd) li{
    border-right: none;
  }
}

/* ====== diary ====== */
.cont-diary{
  padding-top: 40px;
}
.diary-list{
  font-size: 0;
  & a{
    margin-bottom: 15px;
    display: block;
    width: 100%;
    & .diary-list{
      background-color: rgba($color-dark,0.45);
      padding: 8px;
      border-radius: 5px;
      position: relative;
      color: $color-highlight;
      line-height: 1.0em;
      & .diary-list-text{
        font-size: 14px;
        display: inline-block;
        vertical-align: top;
        width: 70%;
        & .diary-cast-img{
          width: 45px;
          height: 45px;
          border-radius: 100%;
          border: 2px solid $color-highlight;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          position: absolute;
          left: 6px;
          top: -8px;
          & span{
            & img{
              margin-top: 32px;
            }
          }
        }
        & .diary-cast{
          position: absolute;
          left: 60px;
          top: 14px;
          background-color: $color-highlight;
          font-size: 0.8em;
          line-height: 1.0em;
          font-weight: bold;
          padding: 2px 5px;
        }
        & p{
          display: block;
          font-size: 0.9em;
          line-height: 1.3em;
          margin: 35px 0 0 0px;
          & small{
            display: block;
            font-family: $font-english;
            letter-spacing: 2px;
            font-size: 1.1em;
            margin-left: 2px;
          }
        }
      }
      & .diary-list-img{
        display: inline-block;
        width: 30%;
        height: 85px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border: 1px solid $color-highlight;
      }
    }
  }  
}
/* 記事ページ */
.page-title.page-title-cast{
  width: 70%;
  height: 70px;
  padding: 25px 0 25px 52px;
  background-color: rgba($color-highlight,0.85);
  letter-spacing: 0;
  & small{
    letter-spacing: 2px;
  }
  & .page-title-cast-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid $color-base;
    position: absolute;
    left: 10px;
    top: 10px;
    @include shadow;
  }
}
.eyecatch{
  width: 300px;
  max-width: 100%;
  border: 2px solid $color-highlight;
  margin: 15px auto 15px;
  display: block;
}
/* postlink */
.postlink{
  text-align: center;
  margin: 15px auto 15px auto;
  width: 100%;
  display: block;
  & li{
    display: inline-block;
    font-size: 0.95em;
    letter-spacing: 1px;
    font-weight: bold;
    width: 49%;
    & a{
      background-color: rgba($color-highlight,0.9);
      display: block;
      padding: 8px 0;
      font-family: $font-mincho;
      text-decoration: none;
    }
  }
}
/*ページリスト */
.diary-cast-title{
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  letter-spacing: 1px;
  font-weight: normal;
  color: $color-highlight;
  background-color: rgba($color-dark,0.85);
  position: relative;
  &::before, &::after{
    content: "";
    position: absolute;
    background-image: url(../img/mark-copy.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 15px;
    height: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  &::before{
    left: 5px;
  }
  &::after{
    right: 5px;
    transform: scale(-1, 1);
  }
}
.diary-cast{
  background-color: rgba($color-dark,0.45);
  padding: 10px 20px 5px;
  margin: 0 0 20px;
  & .diary-cast-img{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50%;
    margin: 10px auto 15px;
    width: 250px;
    max-width: 100%;
    border: 2px solid $color-highlight;
    &::before,&::after{
      content: "";
      background-image: url(../img/frame.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 50px;
      height: 50px;
      position: absolute;
      display: block;
    }
    &::before{
      top: 0;
      left: 0;
    }
    &::after{
      top: 0;
      right: 0;
      transform: scale(-1, 1);
    }
    & .diary-cast-border{
      width: 95%;
      height: 95%;
      display: block;
      border: 1px solid rgba($color-highlight,0.9);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    & .diary-cast-frame{
      position: relative;
      margin-top: -50px;
      &::before,&::after{
        content: "";
        background-image: url(../img/frame.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 50px;
        height: 50px;
        position: absolute;
        display: block;
      }
      &::before{
        top: 0;
        left: 0;
        transform: scale(1, -1);
      }
      &::after{
        top: 0;
        right: 0;
        transform: scale(-1, -1);
      }
    }
    & span{
      position: absolute;
      width: 45px;
      height: 45px;
      left: 10px;
      top: 0;
    }
  }
  & .diary-cast-name{
    text-align: center;
    font-size: 1.4em;
    margin: 15px 0 8px;
  }
  & p{
    font-size: 0.9em;
  }
}
/*ページリスト */
.page-list{
  & .subtitle{
    margin: 0 -10px 20px;
  }
  & .diary-list{
    margin-bottom: 20px;
  }
  & ul{
    margin: -5px 0 20px 0;
    border-top: 1px dotted rgba($color-base,0.5);
    & li{
      display: block;
      & a{
        display: block;
        text-decoration: none;
        padding: 10px;
        border-bottom: 1px dotted rgba($color-base,0.5);
        position: relative;
        &:after{
          content: "\f0da";
          font-family: "Font Awesome 5 Free";
          position: absolute;
          right: 10px;
          top: 0;
          bottom: 0;
          height: 20px;
          margin: auto;
          opacity: 0.8;
          font-weight: bold;
          color: $color-highlight;
        }
        &:hover{
          text-decoration: none;
          background-color: $color-highlight;
        }
      }
    }
  }
}

/* ====== news ====== */
.cont-news{
  padding-top: 40px;
}
.news{
  & ul{
    border-top: 1px dotted rgba($color-base,0.5);
    & li{
      & a{
        padding: 15px 10px;
        display: block;
        border-bottom: 1px dotted rgba($color-base,0.5);
        text-decoration:  none;
        font-size: 1.0em;
        line-height: 1.4em;
        & small{
          color: $color-highlight;
          font-size: 1.2em;
          letter-spacing: 2px;
          display: block;
          font-family: $font-english;
        }
      }
    }
  }
}
/* pagination */
.pagination{
  text-align: center;
  margin: 30px auto 0;
  & li{
    margin: 0 0 0 0;
    padding: 0 0 15px 0;
    display: inline-block;
	&:first-child, &:last-child{
	  display: none;
	}
	& .page-link{
      padding: 5px 8px;
      color: $color-primary;
      border: 1px solid rgba($color-highlight,0.9);
      background-color: rgba($color-highlight,0.9);
	}
    & a.page-link{
      text-decoration: none;
      color: $color-highlight;
      border: 1px solid $color-highlight;
      background-color: $color-primary;
      &:hover{
        background-color: $color-highlight;
      }
    }
  }
}

/* ====== recruit ====== */
.fv-recruit{
  background-image: url(../img/recruit/recruit-fv.jpg);
}
.cont-recruit{
  & p{
    margin: 15px auto 15px;
	&.btn-text{
	  text-align: center;
	}
  }
  & ul{
    & li{
      position: relative;
      margin: 0 0 5px;
      padding: 0 0 0 15px;
      line-height: 1.4em;
      &:before{
        content: "";
        background-color: rgba($color-highlight,0.5);
        width: 8px;
        height: 8px;
        display: block;
        position: absolute;
        left: 0px;
        top: 5px;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  & .btns .btn{
    margin: 10px auto;
    text-decoration: none;
    color: $color-base;
    position: relative;
    padding: 8px 10px 8px 15px;
    & i{
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      height: 12px;
      margin: auto;
      opacity: 0.8;
    }
    &.btn-mail {
      background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
      background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    }
    &.btn-tel {
      background-image: -webkit-linear-gradient(45deg, #0099CC 0%, #4682b4 100%);
      background-image: linear-gradient(45deg, #0099CC 0%, #4682b4 100%);
    }
    &.btn-line {
      background-image: -webkit-linear-gradient(45deg, $color-line 0%, $color-line 100%);
      background-image: linear-gradient(45deg, $color-line 0%, $color-line 100%);
		& img{
		  position: absolute;
		  left: 6px;
		  top: 0;
		  bottom: 0;
		  height: 20px;
		  margin: auto;
		  opacity: 0.8;
		}
    }
    &:after{
      content: "\f0da";
      font-family: "Font Awesome 5 Free";
      position: absolute;
      right: 10px;
      top: 0;
      bottom: 0;
      height: 20px;
      margin: auto;
      opacity: 0.8;
      font-weight: bold;
    }
  }
  & .btn.btn-top{
	  margin: 25px auto 5px;
  }
}
/* ====== privacy ====== */
.cont-privacy{
  padding-top: 40px;
}