@charset "UTF-8";

//== definitions
@import "style"; //

/********************************

  トップページ

********************************/
.top section{
  background-image: url(../img/border.svg);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: bottom center;
  padding: 15px 0 15px 0;
}

/* ====== slider ====== */
.slider{
  position: relative;
  margin-bottom: -29px;
}
.slick-img {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100%;
  position: relative;
}
.slick-box{
	position: relative;
	& .slick-dots{
		position: absolute;
		bottom: -25px;
		& li{
			width: 10px;
			height: 10px;
			border-radius: 100%;
			border: 1px solid $color-highlight;
			background-color: $color-primary;
			margin: 0 10px;
			&.slick-active{
				background-color: $color-highlight;
			}
		}
	}
}
.concept-bg{
  width: 100%;
  padding: 15px 40px;
  position: absolute;
  bottom: 0;
  color: $color-base;
  background-color: rgba($color-dark,0.85);
  display: none;
  &::before, &::after{
    content: "";
    position: absolute;
    background-image: url(../img/mark-copy.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 35px;
    height: 50px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  &::before{
    left: 2px;
  }
  &::after{
    right: 2px;
    transform: scale(-1, 1);
  }
  & .concept{
    position: relative;
    font-family: $font-mincho;
    text-align: justify;
    font-size: 1.0em;
    line-height: 1.4em;
	& p{
      font-size: 0.9em;
	  line-height: 1.6em;	  
	}
  }
}

/* ====== ranking ====== */
.ranking{
  & .cast-list{
    margin: -5px 0 5px;
    & li{
      padding-top: 30px;
      & a{
        position: relative;
        text-decoration: none;
        border: 1px solid rgba($color-highlight,0.9);
        &::before{
          content: "";
          background-image: url(../img/icon-ranking.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          height: 45px;
          width: 45px;
          position: absolute;
          top: -36px;
          left: 0;
          right: 0;
          margin: auto;
          display: block;
        }
        &::after{
          height: 45px;
          width: 45px;
          position: absolute;
          top: -17px;
          left: 0;
          right: 0;
          font-family: $font-mincho;
          text-align: center;
          margin: auto;
          display: block;
          font-size: 12px;
        }
      }
      &:nth-of-type(1) a::after{
        content: "1";
      }
      &:nth-of-type(2) a::after{
        content: "2";
      }
      &:nth-of-type(3) a::after{
        content: "3";
      }
      &:nth-of-type(4) a::after{
        content: "4";
      }
      &:nth-of-type(5) a::after{
        content: "5";
      }
      &:nth-of-type(6) a::after{
        content: "6";
      }
    }
  }
}

/* ====== recruit ====== */
.top-recruit a{
  margin: 15px auto 10px;
  display: block;
}