@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lancelot");
/********************************

  共通 style

********************************/
ul {
  margin: 0;
  padding: 0; }
  ul li {
    margin: 0;
    padding: 0;
    list-style-type: none; }

/* ====== title ====== */
h1, h2, h3, h4, h5 {
  font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif; }

.description {
  font-size: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  color: #fff;
  font-size: 1.0em;
  line-height: 1.4em;
  padding: 10px;
  font-weight: normal; }

.title-top {
  text-align: center;
  font-family: "Lancelot", cursive;
  color: #fff;
  font-size: 2.0em;
  line-height: 1.4em;
  letter-spacing: 2px;
  font-weight: normal;
  padding: 54px 0 0 0;
  margin: 10px auto 10px;
  position: relative;
  display: block; }
  .title-top small {
    display: block;
    font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    font-size: 0.5em;
    line-height: 1.4em;
    letter-spacing: 1px;
    font-weight: normal; }
  .title-top::before {
    content: "";
    background-image: url(../img/mark-title.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto; }

.title {
  background-color: #66001A;
  border-left: 8px solid rgba(17, 17, 17, 0.2);
  font-weight: normal;
  letter-spacing: 1px;
  padding: 15px 10px 15px 8px;
  margin: 25px 0 10px;
  font-size: 1.5em; }
  .title span {
    font-family: "Lancelot", cursive;
    font-size: 1.2em;
    letter-spacing: 2px; }
  .title small {
    font-family: "Lancelot", cursive;
    letter-spacing: 2px; }

.subtitle {
  background-color: rgba(17, 17, 17, 0.2);
  color: #D5B45C;
  font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: normal;
  font-size: 1.2em;
  position: relative;
  padding: 10px 10px 10px 38px;
  margin: 15px 0 10px 0; }
  .subtitle::before {
    content: "";
    background-image: url(../img/mark-subtitle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto;
    position: absolute;
    left: 10px; }
  .subtitle span {
    font-size: 1.2em;
    font-family: "Lancelot", cursive;
    letter-spacing: 2px; }

/* ====== lazyload ====== */
.lazyload {
  opacity: 0; }

.lazyloaded {
  opacity: 1;
  transition: all 0.5s; }

/* ====== btn ====== */
p {
  line-height: 1.8em;
  text-align: justify; }

/* ====== btn ====== */
.btn {
  color: #D5B45C;
  font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  border: 1px solid rgba(213, 180, 92, 0.8);
  margin: 20px auto;
  padding: 2px;
  width: 300px;
  max-width: 90%;
  text-align: center;
  display: block; }
  .btn.btn-top {
    margin: 25px auto 5px; }
  .btn a {
    border: 3px solid rgba(213, 180, 92, 0.8);
    display: block;
    padding: 8px 10px 8px 15px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    letter-spacing: 1px;
    font-weight: normal;
    color: #D5B45C;
    text-decoration: none; }
    .btn a i {
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      height: 12px;
      margin: auto;
      opacity: 0.8; }
    .btn a:after {
      content: "\f0da";
      font-family: "Font Awesome 5 Free";
      position: absolute;
      right: 10px;
      top: 0;
      bottom: 0;
      height: 20px;
      margin: auto;
      opacity: 0.8;
      font-weight: bold; }
    .btn a:hover {
      text-decoration: none;
      background-color: #D5B45C; }

/* ====== table ====== */
table {
  width: 100%;
  margin: 0 auto; }
  table th {
    background-color: rgba(255, 255, 255, 0.18);
    padding: 8px 5px;
    line-height: 1.2em;
    font-weight: normal; }
  table td {
    padding: 8px 10px;
    background-color: rgba(255, 255, 255, 0.18);
    word-break: break-all; }
    table td a {
      text-decoration: underline; }
      table td a:hover {
        text-decoration: none; }
    table td strong {
      color: white !important; }

/********************************

  トップページ

********************************/
.top section {
  background-image: url(../img/border.svg);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: bottom center;
  padding: 15px 0 15px 0; }

/* ====== slider ====== */
.slider {
  position: relative;
  margin-bottom: -29px; }

.slick-img {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100%;
  position: relative; }

.slick-box {
  position: relative; }
  .slick-box .slick-dots {
    position: absolute;
    bottom: -25px; }
    .slick-box .slick-dots li {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      border: 1px solid #D5B45C;
      background-color: #800020;
      margin: 0 10px; }
      .slick-box .slick-dots li.slick-active {
        background-color: #D5B45C; }

.concept-bg {
  width: 100%;
  padding: 15px 40px;
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: rgba(17, 17, 17, 0.85);
  display: none; }
  .concept-bg::before, .concept-bg::after {
    content: "";
    position: absolute;
    background-image: url(../img/mark-copy.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 35px;
    height: 50px;
    top: 0;
    bottom: 0;
    margin: auto; }
  .concept-bg::before {
    left: 2px; }
  .concept-bg::after {
    right: 2px;
    transform: scale(-1, 1); }
  .concept-bg .concept {
    position: relative;
    font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    text-align: justify;
    font-size: 1.0em;
    line-height: 1.4em; }
    .concept-bg .concept p {
      font-size: 0.9em;
      line-height: 1.6em; }

/* ====== ranking ====== */
.ranking .cast-list {
  margin: -5px 0 5px; }
  .ranking .cast-list li {
    padding-top: 30px; }
    .ranking .cast-list li a {
      position: relative;
      text-decoration: none;
      border: 1px solid rgba(213, 180, 92, 0.9); }
      .ranking .cast-list li a::before {
        content: "";
        background-image: url(../img/icon-ranking.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 45px;
        width: 45px;
        position: absolute;
        top: -36px;
        left: 0;
        right: 0;
        margin: auto;
        display: block; }
      .ranking .cast-list li a::after {
        height: 45px;
        width: 45px;
        position: absolute;
        top: -17px;
        left: 0;
        right: 0;
        font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
        text-align: center;
        margin: auto;
        display: block;
        font-size: 12px; }
    .ranking .cast-list li:nth-of-type(1) a::after {
      content: "1"; }
    .ranking .cast-list li:nth-of-type(2) a::after {
      content: "2"; }
    .ranking .cast-list li:nth-of-type(3) a::after {
      content: "3"; }
    .ranking .cast-list li:nth-of-type(4) a::after {
      content: "4"; }
    .ranking .cast-list li:nth-of-type(5) a::after {
      content: "5"; }
    .ranking .cast-list li:nth-of-type(6) a::after {
      content: "6"; }

/* ====== recruit ====== */
.top-recruit a {
  margin: 15px auto 10px;
  display: block; }
